@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8f2fc;
    --foreground: #020102;
    --primary: #865ca3;
    --primary-foreground: #f8f2fc;
    --secondary: #e9d8f6;
    --secondary-foreground: #464646;
  }

  .dark {
    --background: #020102;
    --foreground: #f8f2fc;
    --primary: #865ca3;
    --primary-foreground: #f8f2fc;
    --secondary: #e9d8f6;
    --secondary-foreground: #464646;
    --radius: 0.5rem;
  }
}
html {
  font-size: 14px;
}

:lang(en) {
  direction: ltr;
}

:lang(ar) {
  direction: rtl;
}

.animate-bounce {
  animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 16px;
  }
}
