@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8f2fc;
    --foreground: #020102;
    --primary: #865ca3;
    --primary-foreground: #f8f2fc;
    --secondary: #464646;
    --secondary-foreground: #e9d8f6;
    --radius: 0.5rem;
    --translateY: 100px;
  }

  .dark {
    --background: #020102;
    --foreground: #f8f2fc;
    --primary: #865ca3;
    --primary-foreground: #f8f2fc;
    --secondary: #e9d8f6;
    --secondary-foreground: #464646;
  }
}
html {
  font-size: 14px;
}

:lang(en) {
  direction: ltr;
}

:lang(ar) {
  direction: rtl;
}

.animate-bounce {
  animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
}

strong {
  font-weight: 500;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.fadeInDown {
  animation: fadeInDown 1s ease-in-out;
  -webkit-animation: fadeInDown 1s ease-in-out;
}

@keyframes reveal-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.reveal-left {
  animation: reveal-left 1s ease-in-out;
  -webkit-animation: reveal-left 1s ease-in-out;
}

@keyframes reveal-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.reveal-right {
  animation: reveal-right 1s ease-in-out;
  -webkit-animation: reveal-right 1s ease-in-out;
}

@keyframes reveal-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.reveal-up {
  animation: reveal-up 1s ease-in-out;
  -webkit-animation: reveal-up 1s ease-in-out;
}

@keyframes reveal-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.reveal-down {
  animation: reveal-down 1s ease-in-out;
  -webkit-animation: reveal-down 1s ease-in-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(-100%, var(--translateY));
    -webkit-transform: translate(-100%, var(--translateY));
    -moz-transform: translate(-100%, var(--translateY));
    -ms-transform: translate(-100%, var(--translateY));
    -o-transform: translate(-100%, var(--translateY));
  }
  25% {
    opacity: 1;
    transform: translate(-50%, var(--translateY));
    -webkit-transform: translate(-50%, var(--translateY));
    -moz-transform: translate(-50%, var(--translateY));
    -ms-transform: translate(-50%, var(--translateY));
    -o-transform: translate(-50%, var(--translateY));
  }
  50% {
    opacity: 1;
    transform: translate(-50%, var(--translateY));
    -webkit-transform: translate(-50%, var(--translateY));
    -moz-transform: translate(-50%, var(--translateY));
    -ms-transform: translate(-50%, var(--translateY));
    -o-transform: translate(-50%, var(--translateY));
  }
  100% {
    opacity: 1;
    transform: translate(100%, var(--translateY));
    -webkit-transform: translate(100%, var(--translateY));
    -moz-transform: translate(100%, var(--translateY));
    -ms-transform: translate(100%, var(--translateY));
    -o-transform: translate(100%, var(--translateY));
  }
}

.reveal {
  animation: reveal 2s ease-in-out alternate-reverse infinite;
  -webkit-animation: reveal 2s ease-in-out alternate-reverse infinite;
}

.center-x {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media screen and (min-width: 640px) {
  :root {
    --translateY: 150px;
  }
  html {
    font-size: 16px;
  }
}
